language: go

go:
  - 1.6
  - 1.7

before_install:
  - go get github.com/golang/lint/golint
  - go get github.com/tools/godep

install:
  - go install -race -v std

script:
  - $HOME/gopath/bin/golint .
  - make test
