connection:
  host: localhost
  username: rex
  password: pwd
  vhost: rex
  port: 5672

consumer:
  exchange:
    name: rex.xchange
    type: direct
    durable: true
    auto_delete: false
  prefetch:
    count: 3
    global: false
  queue:
    name: rex.ha.queue
    routing_key: rex.ha.queue
    durable: true
    auto_delete: false
  script: "your message processing script that takes the message body as an argument"
  retry_interval: 5

logger:
  output: both
  formatter: text
  level: debug
  log_file: ./rex.log
