connection:
  host: localhost
  username: rex
  password: passw0rd
  vhost: rex
  port: 5672

worker:
  exchange:
    name: rex.xchange
    type: direct
    auto_delete: false
    durable: true
  prefetch:
    count: 3
    global: true
  queue: rex.ha.testing
  script: "ps aux"

logger:
  appenders:
    file:
      enabled: true
      path: ./rex.log
    echo:
      enabled: true
