connection:
  host: 192.168.99.100
  username: rex
  password: pwd
  vhost: rex
  port: 5672

consumer:
  exchange:
    name: rex.xchange
    type: direct
    durable: true
    auto_delete: false
  prefetch:
    count: 3
    global: true
  queue:
    name: rex.ha.testing
    routing_key: rex.ha.testing
    durable: true
    auto_delete: false
  script: "docker exec bean_api_1 /var/bean/app/console --env=prod bean:image:worker"

logger:
  output: both
  formatter: text
  level: debug
  log_file: ./rex.log
